body{

    background-color:  rgb(59, 54, 51);
}

#header{
display: flex;
justify-content: space-between;
font-family: 'Kanit', sans-serif;
background-color: rgb(40, 37, 35);
color: rgb(181, 135, 8);
height: 85px;
margin: -8px -8px 0 -8px;
box-shadow: 1px 1px 3px rgb(51, 51, 51);
padding: 8px 0;

}

#navigation ul{

    list-style: none;
    margin-right: 250px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-right: 115px;
}

#navigation ul h4{

    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}

#navigation ul li{
margin-left: 40px;
text-shadow: 1px 1px 6px rgb(0, 0, 0);


}

#Logo h2{

    text-transform: uppercase;
    font-size: 30px;
    text-shadow: 1px 1px 6px rgb(0, 0, 0);
}

#Logo{

    margin-left: 100px;
}

#main h1{
    font-family: 'Ubuntu', sans-serif;
   font-size: 55px;
   margin-left: 393px;
   color: rgb(181, 135, 8);
   text-shadow: 1px 1px 4px rgb(0, 0, 0);

}

.Pic1{
background-color: rgb(181, 135, 8);;
padding-bottom: 25px;
width: fit-content;
text-align: center;
font-family:'Ubuntu', sans-serif; 
border-radius: 3px;
overflow: hidden;
box-shadow: 2px 2px 3px rgb(40, 37, 35);

}

.Pic1 h2{

    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.Pic1 a{
background-color:rgb(255, 255, 255) ;
color: rgb(0, 0, 0);
padding: 10px 30px;
border-radius: 3px;
text-decoration:none;
font-weight: bold;
margin-top: -80px;

}

.Pic1 a:hover{

    color: rgb(255, 255, 255);
    background-color:rgb(0, 0, 0) ;

}
.Pic1 img{

width: 450px;
height: 300px;

}

#list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 0px;
}

#pic01{

    margin-left: 250px;
}

#pic02{

    margin-left: 5px;
}


